<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">


	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="Nlog.Web" />
	</extensions>
	<!-- ၁။ Targets (Log တွေကို ဘယ်နေရာတွေမှာ သိမ်းမလဲ သတ်မှတ်ခြင်း) -->
	<targets>
		<!-- File ထဲတွင် သိမ်းရန် (တစ်ရက်လျှင် ဖိုင်တစ်ဖိုင် အလိုလိုခွဲပေးမည်) -->
		<!--<target xsi:type="File" name="allfile" fileName="logs/nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />-->
	 <!-- File Target -->
    <target name="file" xsi:type="File" fileName="${currentdir}/logs/log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<!-- Console (အမည်းရောင် Box) တွင် ပြရန် -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<!-- ၂။ Rules (ဘယ် Level ကို ဘယ် Target ဆီ ပို့မလဲ စည်းမျဉ်းသတ်မှတ်ခြင်း) -->
	<rules>
		<!-- Trace Level မှစ၍ အားလုံးကို File ထဲသို့ ပို့ပါ -->
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!-- Info Level မှစ၍ အားလုံးကို Console ပေါ်သို့ ပို့ပါ -->
		<logger name="*" minlevel="Info" writeTo="lifetimeConsole" />
	</rules>
</nlog>